@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #ffffff;
  --color-foreground: #1f2937;
  --accent-9: #3b82f6;
  --accent-10: #2563eb;
  --accent-11: #1d4ed8;
}

.dark {
  color-scheme: dark;

  --color-background: #131b2e;
  --color-foreground: #f1f5f9;
  --accent-9: #60a5fa;
  --accent-10: #3b82f6;
  --accent-11: #1e40af;
}
